/* ----- Fonts ----- */

/* Outfit */
@font-face {
    font-family: "Outfit";
    src: url('../assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

/* Young Serif */
@font-face {
    font-family: "Young Serif";
    src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf");
}

/* ----- CSS Reset ----- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ----- Global variables ----- */

:root {
    /* Colors */
    --color-dark-charcoal: #312E2C;
    --color-dark-raspberry: #7A284E;
    --color-brandy-red: #854632;
    --color-wenge-brown: #5F564D;
    --color-eggshell: #F3E5D7;
    --color-white-coffee: #E3DDD7;
    --color-snow: #FFF7FB;
    --color-white: #FFFFFF;

    /* Fonts */
}

/* ----- Element styles ----- */

body {
    background: var(--color-eggshell);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img {
    width: 100%;
}

hr {
    border-color: var(--color-white-coffee);
}

/* ----- Utilities ----- */

.heading-large {
    font-family: "Young Serif";
    font-size: 36px;
    color: var(--color-dark-charcoal);
    font-weight: 400;
}

.heading-medium {
    font-family: "Young Serif";
    font-size: 28px;
    color: var(--color-brandy-red);
    font-weight: 400;
}

.heading-small {
    font-family: "Outfit";
    font-size: 20px;
    font-weight: 600;
    color: var(--color-dark-raspberry);
}

.body-regular {
    font-family: "Outfit";
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--color-wenge-brown);
}

.body-bold {
    font-family: "Outfit";
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    color: var(--color-brandy-red);
}

/* ----- Components styles ----- */

/* Header */
.header__title {
    text-align: center;
    padding: 30px;
}

/* Main */
.recipe-card {
    background-color: var(--color-white);
    margin: 0 auto;
}

.recipe-card__image {
    width: 100%;
    max-height: 300px;
}

.recipe-card__body {
    padding: 40px 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.recipe-card__description {
    margin-top: 24px;
}

.recipe-card__preparation-time {
    background-color: var(--color-snow);
    border-radius: 12px;
    padding: 28px;
}

.preparation-time__list {
    margin-top: 16px;

    li {
        margin-left: 32px;
        margin-top: 8px;

        span {
            font-weight: 700;
        }
    }

    li::marker {
        color: var(--color-dark-raspberry);
    }
}

.ingredients__list {
    margin-top: 24px;
    padding: 0 25px;
    
    li {
        margin-top: 8px;
        padding-left: 18px;
    }

    li::marker {
        color: var(--color-dark-raspberry);
    }
}

.instructions__list {
    margin-top: 24px;
    padding: 0 25px;
    
    li {
        margin-top: 8px;
        padding-left: 18px;

        span {
            font-weight: 700;
        }
    }

    li::marker {
        color: var(--color-dark-raspberry);
        font-weight: 700;
    }
}

.nutrition__description {
    margin-top: 24px;
}

.nutrition__table {
    display: block;
    margin-top: 12px;

    tbody {
        display: block;
    }

    tbody > :not(:last-child) {
        padding: 12px 0;
        border-bottom: 1px solid var(--color-white-coffee);
    }

    tbody > :last-child {
        padding-top: 12px;
    }

    tr {
        display: block;
    }

    td {
        display: inline-block;
        height: 24px;
        width: 115.5px;
    }

    .tag {
        padding-left: 32px;
    }

    .value {
        margin-left: 16px;
    }
}

/* Footer */
.acknowledgments {
    text-align: center;
    padding: 30px;

    a {
        color: var(--color-brandy-red);
    }
}


/* ----- Media queries ----- */

@media (min-width: 737px) {
    .recipe-card {
        padding: 40px;
        width: 736px;
        border-radius: 24px;
    }

    .recipe-card__image {
        img {
            border-radius: 12px;
        }
    }

    .recipe-card__body {
        padding: 40px 0 0 0;
    }

    .nutrition__table {
        td {
            width: 288px;
        }
    }
}